button, 
.button {
    display: inline-block;
    border-style: solid;
}

.button-primary {
    // Typography
    font-family: @button-text-font-family;
    font-size: @button-text-font-size;
    font-weight: @button-text-font-weight; 
    color: @button-primary-text-color-default;
    line-height: @button-text-line-height;
    
    // Background
    background: @button-primary-background-color-default;
    
    // Border
    border-color: @button-primary-border-color-default;
    border-radius: @button-border-radius;
    border-width: @button-border-width-default;
    // @button-primary-border-width-increase;
    
    // Sizes
    &, &.medium {
        min-height: @button-size-medium-height;
        padding: @button-size-medium-text-padding-y @button-size-medium-text-padding-x;
    }
    

    &.large {
        min-height: @button-size-large-height;
        padding: @button-size-large-text-padding-y @button-size-large-text-padding-x; 
    }

    // States
    &:hover {
        background: @button-primary-background-color-hover;
        border-color: @button-primary-border-color-hover;
    }

    &:active {
        background: @button-primary-background-color-active;
        border-color: @button-primary-border-color-active;
    }

    &:focus {
        background: @button-primary-background-color-focus;
        border-color: @button-primary-border-color-focus;
    }

    &[disabled] {
        color: @button-text-color-disabled;
        background: @button-background-color-disabled;
        border-color: @button-border-color-disabled;
    }
}